.Rproj.user
.Rhistory
.RData
.Ruserdata
writing_drafts
*.docx
generated_data/full_csv
generated_data/model_outputs
generated_data/results
generated_data/summary_data
climate_data
figs/supp
other
*.csv
tests
*.png
*pptx
*.zip
figs/old